

body {
    background-color: #EAF6F6;
}
hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    background-color: gray;
    border-width: 5px;
    
}
h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}
.circular {
    border-radius: 100%;
}

img:hover {
   background-color: blue;
}